body {
    padding-top: 60px;
}
.countdown-box {
    margin: 0;
}
.count-down {
    &__item {
        border: 1px solid #ddd;
        padding: 15px 20px;
        text-align: center;
    }
    &__number {
        font-size: 18px;
        font-weight: bold;
    }
}

pre {
    display: block;
    padding: 8px 12px;
    margin: 0 0 8px;
    word-break: break-all;
    word-wrap: break-word;
    color: #2e2e2e;
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    overflow: auto;
}
code {
    padding: 2px 4px;
    color: #c0341d;
    background-color: #fbe5e1;
    border-radius: 4px;
    font-size: 90%;
}
.section-title {
	font-size: 28px;
	margin-bottom: 20px;
}
.main-section {
	margin: 30px 0;

	.row {
		+ .row {
			margin-top: 30px;
		}
		+ .content {
			margin-top: 30px;
		}
	}
}